{% extends 'page.html' %}

{% block page_content %}
    <h1>Top Tracks</h1>

    <div id="react-root">
    </div>

    <div class="u-pvm">
        <ul class="nav nav-tabs">
            {% for tab in time_range_tabs %}
                <li {% if tab['active'] %}class="active"{% endif %}>
                    <a href="{{ url_for('index', time_range=tab['time_range']) }}">
                        {{ tab['label'] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
        </thead>
        <tbody>
            {% for track in top_tracks['items'] %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ track['external_urls']['spotify'] }}">
                            {{ track['name'] }}
                        </a>
                    </td>
                    <td>{{ track['_artist_names'] }}</td>
                    <td>{{ track['album']['name'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
