{% extends 'base.html' %}

{% block content %}
    {% if profile %}
        <img src="{{ profile['images'][0]['url'] }}" alt="{{ profile['id'] }}">
        <p>
            Logged in as <strong>{{ profile['id'] }}</strong>
        </p>
        <p>
            <a href="{{ url_for('logout')}}">Logout</a>
        </p>

        <h1>Top Tracks</h1>
        <ol>
            {% for track in top_tracks['items'] %}
            <li>
                {{ track['artists'][0]['name'] }} - {{ track['name'] }}
            </li>
            {% endfor %}
        </ol>
    {% else %}
        <a href="{{ url_for('login') }}">Login with Spotify</a>
    {% endif %}
{% endblock %}
